#### Import Libraries

In [1]:
import pandas as pd
import requests

### making request to get data through API

In [6]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=c980d1b9502d56c8912ae5150a465da1&language=en-US&page=1')

In [7]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [9]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,87.259,8.7,16607
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,74.450,8.7,22327
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,53.295,8.6,10043
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,39.465,8.6,3875
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,51.786,8.6,13238

#### Making a empty data frame to store data wich we will fatch

In [10]:
df = pd.DataFrame()

In [23]:
import warnings
warnings.filterwarnings("ignore")
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [24]:
df.shape

(29340, 7)

In [25]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,87.259,8.7,16607
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,74.450,8.7,22327
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,53.295,8.6,10043
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,39.465,8.6,3875
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,51.786,8.6,13238
...,...,...,...,...,...,...,...
29335,16406,Dick,Two high school girls wander off during a clas...,1999-08-04,9.962,5.8,207
29336,9767,The Break-Up,Pushed to the breaking-up point after their la...,2006-06-01,23.522,5.8,2324
29337,4327,Charlie's Angels,The captivating crime-fighting trio who are ma...,2000-11-02,26.534,5.8,3591
29338,737568,The Doorman,A former Marine turned doorman at a luxury New...,2020-10-01,65.196,5.8,325
29339,615469,Spiderhead,A prisoner in a state-of-the-art penitentiary ...,2022-06-15,265.268,5.8,963

In [26]:
df.to_csv('movies.csv')